* {
  margin: 0;
}

body {
  background-color: rebeccapurple;
}

#app {
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

main {
  background-color: aliceblue;
  min-width: 80%;
  margin-inline: auto;
  margin-block: 1em;
  border-radius: 1em;
}

header,
nav,
footer {
  color: aliceblue;
  padding-inline: 1em;
}

nav a {
  color: aliceblue;
}

main {
  padding: 1em;
}